.splash {
  padding: 9em 0 2em;
  background-color: #141d27;
  background-image: url(assets/img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
  height: 300px;
}

.banner-text {
  color: #fff;
  font-size:100px;
  text-align: center;
  margin-top: 20px;
  text-transform: capitalize;
}
